.imgcar {
  height: 140px;
  width: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.toPag {
  margin-left: 5px;
}

.gras {
  font-weight: bolder;
  text-align: left;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  left: 50%;
  transform: translate(-50%);
}



.card {
  background-color: #1c2942;
  height: 290px;
  width: 250px;
  border-radius: 15px;
  position: relative;
  margin-top: 50px;
  text-align: left;
  font-family: "Nunito", sans-serif;
}

.desc {
  margin-top: 10px;
  margin-left: 10px;
  opacity: 20%;
}

.card:hover {
  transform: rotateY(180deg);
}

.card {
  transition: all 0.8s ease;
  transform-style: preserve-3d;
}

.imgcarb {
  height: 100px;
  width: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.braid {
  height: 25px;
  width: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-front {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-back {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  border-radius: 15px;
  background-position: center;
}

.descbagues {
  margin-top: 15%;
  opacity: 20%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%; /* Ajustez la valeur selon vos besoins */
  gap:20px
}

.card {
  min-width: 250px;
  box-sizing: border-box; /* Pour inclure les marges et les bordures dans la largeur */
}
