@media screen and (min-width: 750px) {
  .classnone {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  ul {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  .sky {
    margin-left: 25px;
  }
}

@media screen and (max-width: 1045px) {
  .contact-card {
    margin-top: 750px;
  }
  .element3 {
    margin-top: 400px;
  }
}
@media screen and (min-width: 1045px) {
  .contact-card {
    margin-top: 400px;
  }
  .element3 {
    margin-top: 400px;
  }
}